body{
    font-family: 'Lato', sans-serif;
    margin:auto;
    text-align: center;
}

h1{
    margin:1em;
}

h2 {
    margin:2em;
}

.pie-label{
    font-family: 'Lato', sans-serif;
}

.chart-container {
    width: 800px;
    margin:auto;
}

.labels{
    font-size: 14px;
    
}

.x-label{
    font-size: 18px;
    
}

.y-label{
    font-size: 18px;
    
}

.yaxis{
    font-size: 14px;
    
}

#chart3{
    width: 800px;
}


#chart2{
    width: 700px;
}

/* #chart1{
    border:solid 1px red;
} */