body{
    font-family: 'Lato', sans-serif;
    margin:auto;
    text-align: center;
}

h1{
    margin:1em;
}

h2 {
    margin:2em;
}

.pie-label{
    font-family: 'Lato', sans-serif;
}

.chart-container {
    width: 800px;
    margin:auto;
}

.labels{
    font-size: 12px;
    
}

.x-label{
    font-size: 14px;
    
}

.y-label{
    font-size: 14px;
    
}

.xaxis text{
    font-size: 13px;
}

.yaxis text{
    font-size: 13px;
    
}


#chart1{
    width: 800px;
    /* border:solid 1px red; */
}

#chart2{
    width: 800px;
}

#chart3{
    width: 800px;
}
