* {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }


body{
    font-family: 'Lato', sans-serif;
    margin:auto;
    text-align: center;
    background-color: rgb(220, 215, 215);
    width:1300px;
}


h1{
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 40px;
    color:rgb(86, 85, 85);
    background-color: rgb(238, 237, 237);
    padding:0.3em;
    box-shadow: 5px 10px #888888;
    width:92%;
    margin:auto;
}

#subheader{
    font-weight: 500;
}

h2 {
    text-align: left;
    margin:1em;
    font-size: 28px;
    font-weight: 400;
    color:rgb(86, 85, 85);
}

h3{
    font-weight: 700;
    text-align: left;
    font-size: 22px;
    margin-left: 1.5em;
    color:rgb(86, 85, 85);
    background-color: rgb(238, 237, 237);
    box-shadow: 2px 5px #888888;
    width:60%;
    padding:0.3em;
    text-align: center;
}

.section{
    font-weight: 600;
    font-size: 35px;
    text-align: left;
}


p{
    text-align: left;
    margin:2em;
    font-size: 18px;
    color: rgb(86, 85, 85);
}

.legend{
    margin:1em;
    margin-left: 2em;
    font-size: 18px;
}

#map-parent{
    display:flex;
}

.map{
    flex-basis: 50%;
}

.title{
    font-size: 16px;
    font-weight: 400;
}

.c3-header{
    font-size: 30px;
    color:rgb(86, 85, 85);
}

.c3-header span{
    color: rgb(202, 178, 214);
    -webkit-text-stroke: 0.5px white;
    font-size: 34px;
    font-weight: 800;
}

br{
    margin:2em;
}

#job-chart-parent{
    display:flex;
    margin-left:2em;
}

#job-chart-parent h3{
    width:70%;
}

#right-col{
    margin:2em;
    margin-top:8em;
    text-align: center;
}

.pie-label{
    font-weight: 600;
}

.desc-label{
    font-weight: 300;
    font-size: 18px;
}

.desc-label text{
    color:rgb(86, 85, 85);
}

tspan{
    color:rgb(86, 85, 85);
}

.pie-color{
    opacity: 0.7;
}

#ring-parent{
    display:flex;
}

#ring-desc{
    flex-basis:30%;
    margin-top:3em;
}

#chart4{
    flex-basis: 70%;
}

#chart5{
    margin-left:3em;
    flex-basis:30%;
}


#chart5 div {
    color:rgb(86, 85, 85);
    box-sizing:border-box;
    border:solid 1px #fff;
    padding: 30px;
    display: inline-block;
    
}


#gender-prop-parent{
    display:flex;
}

#gender-desc{
    flex-basis:40%;
}

#chart5{
    margin-top:2em;
    flex-basis:50%;
}

#chart5 span{
    font-weight: 700;
}

#legend {
    margin-left:15em;
}

#legend div{
    font-size: 14px;
}

#line-parent{
    display:flex;
}

#line-desc{
    flex-basis:35%;
    margin-top: 3em;
}

#bar-chart-parent{
    display:flex;
}

.horizontal-bar h2 {
    margin-left:5em;
    text-align: center;
}

#horizontal-desc{
    margin-top: 1em;
    font-size: 55px;
    flex-basis:24%;
}


#horizontal-desc h3{
    margin-left: 2em;
}

#horizontal-bar{
    flex-basis:38%;
    margin-left:0.5em;
}


#treemap{
    flex-basis: 38%;
}


.hbar-title{
    width:400px;
    height:50px;
    margin-top:1.5em;
}

#chart8{
    margin-left:1em;
}

#chart11{
    margin-left:1em;
}

#horizontal-desc p{
    margin:3em;
}

.map-tooltip{
    background: rgba(255, 255, 255, .9); /* 0.9 gives slight transparency */
    border-radius: 8px;
    color: #000;
    display: block;
    font-size: 14px;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    line-height: 16px;
    text-transform: none;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
    box-shadow: 8px 4px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 16px 0px rgba(0,0,0,0.75);
  }

.highlight{
    font-weight: bold;
    font-size: 25px;
    color: rgb(86, 85, 85);
}

.highlight-2{
    font-weight: bold;
    font-size: 20px;
    color: rgb(86, 85, 85);
}

#chart3{
    margin-top:1em;
}


#legend1 text{
    color: rgb(70, 69, 69);
    font-weight: 500;
}

#legend5 text{
    color: rgb(70, 69, 69);
    font-weight: 500;
}